body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: antiquewhite;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

svg {
  fill: aquamarine;
  z-index: 1;
}

text {
  fill: black;
  font-weight: 500;
}

.bar {
  z-index: 0;
  fill: wheat;
}

#tooltip {
  background-color: aliceblue;
  max-width: 250px;
  font-size: 15px;
  border-radius: 5px;
  position: relative;
  padding: 10px;
  border-radius: 20px;
  opacity: 0;
}

#x-axis {
  z-index: 2;
}

#y-axis {
  z-index: 2;
}

.dot[doping="true"] {
  fill: rgb(123, 123, 223);
  opacity: inherit;
}
.dot {
  fill: brown;
  opacity: 0.8;
  stroke-width: 5px;
}
